# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vsdix

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.tmp
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/debug/
/bin/
/obj/
# Ignorer les fichiers binaires compilés
*.dll
*.exe

# Ignorer les fichiers temporaires de l'éditeur
.vs/
.vscode/
P_BitRuisseau/obj/Debug/net8.0-windows/P_BitRuisseau.assets.cache
*.cache
/P_BitRuisseau/obj
*.csproj
P_BitRuisseau/bin/Debug/net8.0-windows/P_BitRuisseau.runtimeconfig.json
P_BitRuisseau/P_BitRuisseau.csproj.user
P_BitRuisseau/bin/Debug/net8.0-windows/P_BitRuisseau.pdb
*.resx
